@import "~react-quill/dist/quill.snow.css";
@import "~react-toastify/dist/ReactToastify.css";

body,
html {
  background-color: #21252b;
  color: white;
}

button {
  background-color: #282c34;
  padding: 5px;
  color: #9da5ab;
}

th {
  width: 150px;
  background-color: #22262c;
}

td {
  background-color: #32373f;
}

.quill {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-top: 5px solid #282c34;
  border-bottom: 5px solid #282c34;
}

.App{
  height: 95vh;
}

.TreeExplorer {
  overflow: auto;
  height: 100%;
  width: 300px;
  min-width: 250px;
  float: left;
  border: 1px solid rgb(0, 0, 0);
  resize: horizontal;
  margin-right: 5px;
}

.KernelDetails {
  background-color: #282c34;
  border: solid 1px black;
  padding-left: 20px;
  padding-right: 20px;
  color: #9da5ab;
  height: 100%;
  overflow: hidden;
}